<!DOCTYPE html>
<html>
	<style>
		body
		{
			background-color:rgb(160, 140, 130);
			font-family:Georgia, "Times New Roman", Serif;
		}
		#instruction
		{
			text-align: center;
		}
		#business-card	
		{
			background-color:rgb(230, 230, 230);
			width: 400px;
			margin-top: 200px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid black;
			text-align: center;
		}
	</style>
	<body>
		<div id="instruction">
			Fill in your info to get started.
		</div>
		<div id="business-card">
			I'm a Computer Science student at California State University, Long Beach. I'm graduating in <select>
				<option value="2013"> 2013</option>
				<option value="2014"> 2014</option>
				<option value="2015"> 2015</option>
				<option value="2016"> 2016</option>
				<option value="2017"> 2017</option>
			</select>, but I'm looking for <select>
				<option value="internships">internships</option>
				<option value="programming work">programming</option>
				<option value="career advice">career advice</option>
			</select> before then.
			<br><a href="resume">Next</a>
		</div>
	</body>
</html>